__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
env/
data/
datasets/
*.log
logs/*.log
checkpoints/**/*.pt
checkpoints/**/*.pth
results/**/*.csv
visualization/**/*.png
visualization/**/*.jpg
.DS_Store
wandb/

!checkpoints/.gitkeep
!results/.gitkeep
!visualization/.gitkeep
!logs/.gitkeep
